*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.image {
    height: 100%;
    width: 35%;
    object-fit: cover;
}

.form-container {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.disclaimer {
    background-color: blue;
    flex-grow: 1;
}

.personal-info {
    background-color: green;
    height: 35%;
}

.activate {
    background-color: yellow;
    flex-grow: 1;
}